<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <div class="main-content">
        {{> header}}
        <img class="portrait" src="/img/robot.png" alt="1">
    </div>

    {{> footer}}
</body>

</html>